@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

body {
    margin: 0 auto;
    font-family: "inter";
    /* width: 1200px; */
    /* padding: 20px; */
}

.hrBg {
    height: 2px;
    border: 0;
    background-color: rgba(128, 128, 128, 0.445);
}

.centerAligned {
    text-align: center;
}

.padding100px {
    padding: 20px 80px;
}

.grayText {
    color: gray;
}

.blueText {
    color: blue;
}

.whiteText {
    color: white;
}

.blueButton {
    color: white;
    background-color: blue;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 200px;
    font-weight: 600;
    font-size: 16px;
}

/* nav starts================== */
nav,
.navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

nav {
    /* padding: 10px; */
}

.menu {
    font-size: 20px;
}

.menu:hover {
    cursor: pointer;
    color: black;
}

/* ================================== */

/* hero starts-------------------- */
.hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.01)), url('./assets/banner.jpg');
    height: 600px;
    color: white;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
}

.hero .blueButton {
    /* width: 50%; */
    margin: auto;
}

.hero h1 {
    font-size: 60px;
}

.hero .grayText {
    font-size: 20px;
}

/* =-------------------------------- */

/* meet the speakers=================== */
.centered45pxheading {
    text-align: center;
    font-size: 45px;
}

.topBottomPadding {
    padding: 30px 0;
}

.speakersSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.speaker {
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-radius: 10px;
}

.speakerImg img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.speakerText {
    padding: 10px;
}

/* ===================================== */


/* secure your spot section======================= */
.packages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: ; */
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.package {
    padding: 10px 20px;
    border: 1px solid rgba(128, 128, 128, 0.445);
    border-radius: 10px;
}

.package li::marker {
    color: blue;
    list-style: circle;
}

.package ul {
    padding-left: 20px;
    color: slategray;
}

.package li {
    padding: 10px 0;
}

.packagePro {
    background-color: #0D1B2A;
}

.packageBtnCommon {
    margin: 0 auto;
    width: 100%;
    padding: 10px 29px;
    font-size: 16px;
    border-radius: 5px;
}

.packageBtnBlue {
    color: blue;
    border: 2px solid blue;
    background-color: #fff;
}

/* =============================================== */

header,
.speakersSection {
    display: none;
}